{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="content-container row justify-content-md-center">
        <div class="col-6">
            <div class="row">
                 <form action="{{ path('appLogin') }}" method="post" class="form-container mt-5">
                    <div class="mb-3">
                        <label for="name-field" class="form-label">Név</label>
                        <input name="_username" type="text" class="form-control" id="name-field">
                    </div>
                    <div class="mb-3">
                        <label for="pw-field" class="form-label">Jelszó</label>
                        <input name="_password" type="password" class="form-control" id="pw-field">
                    </div>
                    <button type="submit" class="btn btn-primary">Küldés</button>
                </form>
            </div>
            <div class="row">
                {% if errors %}
                    <div class="alert alert-danger" role="alert">{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
