{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div class="content-container row justify-content-md-center">
        <div class="col-6">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% if messages is defined %}
                        {% for message in messages %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ message.name }}</td>
                            <td>{{ message.email }}</td>
                            <td>{{ message.message }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">Nincs megjeleníthető üzenet</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}