{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <h3>Új felhasználó hozzáadása</h3>

    {{ include('users/_form.html.twig') }}

    <a href="{{ path('app_users_index') }}"  class="btn btn-outline-primary mt-3">Vissza a listához</a>
{% endblock %}
